.macbook-pro {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.macbook-pro .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1512px;
  height: 19146px;
  position: relative;
}

.macbook-pro .overlap {
  position: absolute;
  width: 1009px;
  height: 102px;
  top: 6653px;
  left: 283px;
}

.macbook-pro .rectangle {
  position: absolute;
  width: 1009px;
  height: 27px;
  top: 24px;
  left: 0;
  background-color: #ffe99b;
}

.macbook-pro .rectangle-2 {
  position: absolute;
  width: 763px;
  height: 27px;
  top: 75px;
  left: 0;
  background-color: #ffe99b;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 0;
  left: 19px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 50px;
}

.macbook-pro .overlap-group {
  position: absolute;
  width: 1519px;
  height: 1986px;
  top: 10873px;
  left: -1px;
}

.macbook-pro .group {
  position: absolute;
  width: 1516px;
  height: 1796px;
  top: 105px;
  left: 3px;
}

.macbook-pro .overlap-group-2 {
  position: relative;
  height: 1796px;
}

.macbook-pro .rectangle-3 {
  position: absolute;
  width: 1516px;
  height: 1773px;
  top: 1px;
  left: 0;
  background-color: #97d4e733;
}

.macbook-pro .vector {
  position: absolute;
  width: 1509px;
  height: 1761px;
  top: 0;
  left: 1px;
}

.macbook-pro .img {
  position: absolute;
  width: 1509px;
  height: 1761px;
  top: 35px;
  left: 1px;
}

.macbook-pro .frame {
  display: flex;
  width: 436px;
  height: 90px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 36px 145px;
  position: absolute;
  top: 1537px;
  left: 535px;
  background-color: #f88800;
  border-radius: 80px;
  box-shadow: 0px 4px 4px 5px #00000040;
  aspect-ratio: 4.85;
}

.macbook-pro .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -12.00px;
  margin-bottom: -10.00px;
  margin-left: -56.94px;
  margin-right: -56.94px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .rectangle-4 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 0;
  left: 1px;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .rectangle-5 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 1864px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .text-wrapper-3 {
  position: absolute;
  width: 988px;
  top: 1900px;
  left: 276px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-4 {
  position: absolute;
  width: 765px;
  top: 36px;
  left: 407px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-5 {
  position: absolute;
  width: 1310px;
  top: 379px;
  left: 102px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56px;
}

.macbook-pro .element-GPT-AI {
  position: absolute;
  width: 1350px;
  top: 547px;
  left: 87px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 56px;
}

.macbook-pro .text-wrapper-6 {
  position: absolute;
  width: 1350px;
  top: 204px;
  left: 87px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 56px;
}

.macbook-pro .text-wrapper-7 {
  position: absolute;
  width: 1310px;
  height: 56px;
  top: 917px;
  left: 115px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 56px;
}

.macbook-pro .element {
  position: absolute;
  width: 1310px;
  top: 1027px;
  left: 115px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 56px;
}

.macbook-pro .span {
  font-weight: 700;
}

.macbook-pro .text-wrapper-8 {
  font-weight: 500;
  font-size: 26px;
}

.macbook-pro .div-wrapper {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 9043px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .text-wrapper-9 {
  position: absolute;
  width: 765px;
  top: 36px;
  left: 345px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-2 {
  position: absolute;
  width: 1325px;
  height: 1151px;
  top: 7650px;
  left: 94px;
}

.macbook-pro .image {
  width: 700px;
  height: 77px;
  top: 674px;
  left: 276px;
  aspect-ratio: 9.14;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .element-GPT {
  position: absolute;
  width: 1325px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .text-wrapper-10 {
  font-weight: 500;
  color: #000000;
}

.macbook-pro .text-wrapper-11 {
  font-weight: 500;
  color: #095770;
}

.macbook-pro .text-wrapper-12 {
  font-weight: 500;
  color: #000000;
  font-size: 24px;
}

.macbook-pro .text-wrapper-13 {
  font-weight: 500;
  color: #000000;
  font-size: 26px;
}

.macbook-pro .text-wrapper-14 {
  font-weight: 700;
  color: #000000;
  font-size: 26px;
}

.macbook-pro .AI-AI-e {
  position: absolute;
  width: 1339px;
  top: 608px;
  left: 115px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 56px;
}

.macbook-pro .text-wrapper-15 {
  position: absolute;
  width: 1301px;
  height: 68px;
  top: 1583px;
  left: 115px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 69px;
  white-space: nowrap;
}

.macbook-pro .AI-AI-AI-GPT-AI {
  position: absolute;
  width: 1312px;
  top: 953px;
  left: 125px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 44px;
}

.macbook-pro .overlap-3 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 1380px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .text-wrapper-16 {
  position: absolute;
  width: 765px;
  top: 36px;
  left: 355px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-4 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 2703px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .text-wrapper-17 {
  position: absolute;
  width: 968px;
  top: 36px;
  left: 272px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .overlap-5 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 5209px;
  left: -3px;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .overlap-6 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 7467px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .text-wrapper-18 {
  position: absolute;
  width: 765px;
  top: 36px;
  left: 374px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-7 {
  position: absolute;
  width: 652px;
  height: 232px;
  top: 1732px;
  left: 87px;
}

.macbook-pro .rectangle-6 {
  position: absolute;
  width: 573px;
  height: 183px;
  top: 49px;
  left: 79px;
  background-color: var(--variable-collection-color-duplicate);
  border-radius: 30px;
}

.macbook-pro .text-wrapper-19 {
  position: absolute;
  width: 420px;
  height: 183px;
  top: 48px;
  left: 180px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.macbook-pro .text-wrapper-20 {
  position: absolute;
  width: 383px;
  height: 43px;
  top: 0;
  left: 140px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .frame-2 {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 38px;
  left: 0;
  aspect-ratio: 1;
}

.macbook-pro .overlap-8 {
  position: absolute;
  width: 1512px;
  height: 775px;
  top: 2825px;
  left: 0;
}

.macbook-pro .stock-photo-person {
  position: absolute;
  width: 1512px;
  height: 745px;
  top: 0;
  left: 0;
  aspect-ratio: 2.38;
  object-fit: cover;
}

.macbook-pro .AI {
  width: 1295px;
  top: 421px;
  left: 123px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  line-height: 46px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .text-wrapper-21 {
  font-weight: 600;
}

.macbook-pro .text-wrapper-22 {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .AI-AI-AI {
  width: 1140px;
  top: 92px;
  left: 121px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  line-height: 46px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .text-wrapper-23 {
  font-size: 26px;
}

.macbook-pro .overlap-9 {
  position: absolute;
  width: 660px;
  height: 227px;
  top: 2022px;
  left: 79px;
}

.macbook-pro .rectangle-7 {
  position: absolute;
  width: 573px;
  height: 183px;
  top: 44px;
  left: 87px;
  background-color: var(--variable-collection-color-duplicate);
  border-radius: 30px;
}

.macbook-pro .ellipse {
  top: 42px;
  background-color: #095770;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 0;
  border-radius: 80px;
  aspect-ratio: 1;
}

.macbook-pro .text-wrapper-24 {
  position: absolute;
  width: 420px;
  height: 176px;
  top: 48px;
  left: 188px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.macbook-pro .text-wrapper-25 {
  position: absolute;
  width: 383px;
  height: 43px;
  top: 0;
  left: 148px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .people-group-solid {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 84px;
  left: 30px;
  aspect-ratio: 1.25;
}

.macbook-pro .overlap-10 {
  position: absolute;
  width: 660px;
  height: 229px;
  top: 2317px;
  left: 79px;
}

.macbook-pro .rectangle-8 {
  position: absolute;
  width: 573px;
  height: 183px;
  top: 46px;
  left: 87px;
  background-color: var(--variable-collection-color-duplicate);
  border-radius: 30px;
}

.macbook-pro .ellipse-2 {
  top: 42px;
  background-color: #0e89a3;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 0;
  border-radius: 80px;
  aspect-ratio: 1;
}

.macbook-pro .AI-2 {
  width: 418px;
  top: 43px;
  left: 187px;
  position: absolute;
  height: 183px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.macbook-pro .text-wrapper-26 {
  position: absolute;
  width: 383px;
  height: 43px;
  top: 0;
  left: 149px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .comments-solid {
  position: absolute;
  width: 90px;
  height: 72px;
  top: 82px;
  left: 29px;
  aspect-ratio: 1.25;
}

.macbook-pro .overlap-11 {
  position: absolute;
  width: 659px;
  height: 227px;
  top: 1735px;
  left: 758px;
}

.macbook-pro .rectangle-9 {
  position: absolute;
  width: 570px;
  height: 183px;
  top: 44px;
  left: 89px;
  background-color: var(--variable-collection-color-duplicate);
  border-radius: 30px;
}

.macbook-pro .ellipse-3 {
  top: 38px;
  background-color: #095770;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 0;
  border-radius: 80px;
  aspect-ratio: 1;
}

.macbook-pro .text-wrapper-27 {
  width: 432px;
  height: 183px;
  top: 43px;
  left: 191px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .diagram-project {
  position: absolute;
  width: 90px;
  height: 80px;
  top: 85px;
  left: 32px;
  aspect-ratio: 1.12;
}

.macbook-pro .overlap-12 {
  position: absolute;
  width: 660px;
  height: 232px;
  top: 2015px;
  left: 758px;
}

.macbook-pro .rectangle-10 {
  position: absolute;
  width: 571px;
  height: 183px;
  top: 49px;
  left: 89px;
  background-color: var(--variable-collection-color-duplicate);
  border-radius: 30px;
}

.macbook-pro .ellipse-4 {
  top: 38px;
  background-color: #0e89a3;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 0;
  border-radius: 80px;
  aspect-ratio: 1;
}

.macbook-pro .text-wrapper-28 {
  position: absolute;
  width: 461px;
  height: 183px;
  top: 48px;
  left: 179px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.macbook-pro .user-pen-solid {
  position: absolute;
  width: 90px;
  height: 72px;
  top: 82px;
  left: 44px;
  aspect-ratio: 1.25;
}

.macbook-pro .overlap-13 {
  position: absolute;
  width: 658px;
  height: 192px;
  top: 2353px;
  left: 759px;
}

.macbook-pro .rectangle-11 {
  position: absolute;
  width: 570px;
  height: 183px;
  top: 4px;
  left: 88px;
  background-color: var(--variable-collection-color-duplicate);
  border-radius: 30px;
}

.macbook-pro .ellipse-5 {
  top: 0;
  background-color: #095770;
  position: absolute;
  width: 160px;
  height: 160px;
  left: 0;
  border-radius: 80px;
  aspect-ratio: 1;
}

.macbook-pro .text-wrapper-29 {
  width: 397px;
  top: 9px;
  left: 191px;
  position: absolute;
  height: 183px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.macbook-pro .code-solid {
  position: absolute;
  width: 85px;
  height: 68px;
  top: 46px;
  left: 38px;
  aspect-ratio: 1.25;
}

.macbook-pro .text-wrapper-30 {
  position: absolute;
  width: 383px;
  height: 43px;
  top: 2309px;
  left: 899px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .overlap-14 {
  position: absolute;
  width: 1339px;
  height: 1089px;
  top: 5433px;
  left: 86px;
  background-color: #ececec;
  border-radius: 83px;
}

.macbook-pro .text-wrapper-31 {
  position: absolute;
  width: 1200px;
  top: 89px;
  left: 81px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px;
}

.macbook-pro .overlap-15 {
  position: absolute;
  width: 287px;
  height: 188px;
  top: 270px;
  left: 98px;
}

.macbook-pro .rectangle-12 {
  position: absolute;
  width: 286px;
  height: 188px;
  top: 0;
  left: 0;
  background-color: #1e1e1ecc;
}

.macbook-pro .element-2 {
  left: 1px;
  position: absolute;
  width: 286px;
  height: 188px;
  top: 0;
  aspect-ratio: 1.52;
  object-fit: cover;
}

.macbook-pro .text-wrapper-32 {
  position: absolute;
  width: 801px;
  top: 331px;
  left: 424px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .text-wrapper-33 {
  position: absolute;
  width: 487px;
  top: 269px;
  left: 424px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-16 {
  position: absolute;
  width: 289px;
  height: 188px;
  top: 505px;
  left: 98px;
}

.macbook-pro .element-3 {
  left: 3px;
  position: absolute;
  width: 286px;
  height: 188px;
  top: 0;
  aspect-ratio: 1.52;
  object-fit: cover;
}

.macbook-pro .text-wrapper-34 {
  position: absolute;
  width: 801px;
  top: 566px;
  left: 424px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .text-wrapper-35 {
  position: absolute;
  width: 487px;
  top: 504px;
  left: 424px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-17 {
  position: absolute;
  width: 286px;
  height: 188px;
  top: 747px;
  left: 98px;
  background-color: #1e1e1ecc;
  background-image: url(https://c.animaapp.com/cFZQYjRh/img/0-01@2x.png);
  background-size: cover;
  background-position: 50% 50%;
}

.macbook-pro .text-wrapper-36 {
  position: absolute;
  width: 857px;
  top: 808px;
  left: 424px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .text-wrapper-37 {
  position: absolute;
  width: 487px;
  top: 746px;
  left: 424px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-18 {
  position: absolute;
  width: 1311px;
  height: 1201px;
  top: 9272px;
  left: 133px;
}

.macbook-pro .group-2 {
  position: absolute;
  width: 1267px;
  height: 1195px;
  top: 0;
  left: 0;
}

.macbook-pro .overlap-19 {
  position: absolute;
  width: 1040px;
  height: 1195px;
  top: 0;
  left: 219px;
}

.macbook-pro .p {
  position: absolute;
  width: 1040px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 50px;
}

.macbook-pro .text-wrapper-38 {
  font-weight: 500;
}

.macbook-pro .rectangle-13 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 200px;
  left: 633px;
  background-color: #ffe99b;
}

.macbook-pro .rectangle-14 {
  position: absolute;
  width: 168px;
  height: 52px;
  top: 398px;
  left: 733px;
  background-color: #ffe99b;
}

.macbook-pro .rectangle-15 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 599px;
  left: 734px;
  background-color: #ffe99b;
}

.macbook-pro .text-wrapper-39 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 599px;
  left: 734px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .rectangle-16 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 748px;
  left: 734px;
  background-color: #ffe99b;
}

.macbook-pro .text-wrapper-40 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 749px;
  left: 734px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .rectangle-17 {
  position: absolute;
  width: 168px;
  height: 52px;
  top: 1100px;
  left: 294px;
  background-color: #ffe99b;
}

.macbook-pro .text-wrapper-41 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 1100px;
  left: 294px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .frame-3 {
  display: flex;
  width: 198px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .text-wrapper-42 {
  position: relative;
  width: fit-content;
  margin-top: -14.50px;
  margin-bottom: -4.50px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .frame-4 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 100px;
  left: 4px;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .frame-5 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 200px;
  left: 4px;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .frame-6 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 392px;
  left: 0;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .frame-7 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 597px;
  left: 4px;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .frame-8 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 748px;
  left: 4px;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .frame-9 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 900px;
  left: 4px;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .frame-10 {
  display: flex;
  width: 194px;
  height: 57px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 25px;
  position: absolute;
  top: 1097px;
  left: 4px;
  border-radius: 40px;
  border: 5px solid;
  border-color: #0e89a3;
}

.macbook-pro .text-wrapper-43 {
  position: absolute;
  width: 1040px;
  top: 251px;
  left: 219px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 50px;
}

.macbook-pro .text-wrapper-44 {
  position: absolute;
  width: 1040px;
  top: 449px;
  left: 224px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 50px;
}

.macbook-pro .text-wrapper-45 {
  position: absolute;
  width: 1092px;
  top: 956px;
  left: 219px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 50px;
}

.macbook-pro .text-wrapper-46 {
  position: absolute;
  width: 1092px;
  top: 1152px;
  left: 219px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-47 {
  position: absolute;
  width: 1040px;
  top: 653px;
  left: 224px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-48 {
  position: absolute;
  width: 1040px;
  top: 804px;
  left: 219px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-49 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 199px;
  left: 852px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-50 {
  position: absolute;
  width: 169px;
  height: 52px;
  top: 397px;
  left: 952px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 50px;
  white-space: nowrap;
}

.macbook-pro .overlap-20 {
  position: absolute;
  width: 847px;
  height: 185px;
  top: 6856px;
  left: 536px;
}

.macbook-pro .element-4 {
  position: absolute;
  width: 847px;
  top: 37px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .text-wrapper-51 {
  position: absolute;
  width: 487px;
  height: 47px;
  top: 0;
  left: 3px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-52 {
  position: absolute;
  width: 847px;
  top: 7154px;
  left: 539px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .text-wrapper-53 {
  position: absolute;
  width: 487px;
  height: 47px;
  top: 7107px;
  left: 539px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .ID-techacademy {
  width: 1252px;
  top: 17282px;
  left: 123px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  line-height: 46px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .image-2 {
  width: 700px;
  height: 77px;
  top: 18839px;
  left: 406px;
  aspect-ratio: 9.14;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .rectangle-18 {
  position: absolute;
  width: 1512px;
  height: 30px;
  top: 18766px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .image-3 {
  width: 373px;
  height: 217px;
  top: 6851px;
  left: 128px;
  aspect-ratio: 1.72;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .image-4 {
  width: 373px;
  height: 219px;
  top: 7105px;
  left: 128px;
  aspect-ratio: 1.7;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .element-5 {
  position: absolute;
  width: 1279px;
  top: 12949px;
  left: 115px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .text-wrapper-54 {
  font-weight: 500;
  font-size: 24px;
}

.macbook-pro .text-wrapper-55 {
  font-weight: 500;
  text-decoration: underline;
}

.macbook-pro .text-wrapper-56 {
  font-weight: 500;
  font-size: 32px;
}

.macbook-pro .text-wrapper-57 {
  position: absolute;
  width: 1279px;
  top: 13639px;
  left: 115px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .text-wrapper-58 {
  width: 1279px;
  top: 14046px;
  left: 119px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  line-height: 46px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .overlap-21 {
  position: absolute;
  width: 1303px;
  height: 1392px;
  top: 14256px;
  left: 101px;
}

.macbook-pro .openai-API-openai {
  position: absolute;
  width: 1296px;
  top: 22px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .text-wrapper-59 {
  font-weight: 900;
}

.macbook-pro .text-wrapper-60 {
  font-weight: 900;
  font-size: 32px;
}

.macbook-pro .notion-notion {
  position: absolute;
  width: 1296px;
  top: 1058px;
  left: 7px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .text-wrapper-61 {
  font-weight: 900;
  font-size: 36px;
}

.macbook-pro .img-2 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  object-fit: cover;
}

.macbook-pro .notion-app-logo {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 1032px;
  left: 7px;
  aspect-ratio: 1;
  object-fit: cover;
}

.macbook-pro .overlap-22 {
  position: absolute;
  width: 1294px;
  height: 213px;
  top: 15673px;
  left: 108px;
}

.macbook-pro .gyazo-chrome-web-PC {
  position: absolute;
  width: 1294px;
  top: 23px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .overlap-23 {
  position: absolute;
  width: 1512px;
  height: 122px;
  top: 17023px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(20, 59, 71, 0.9) 0%,
    rgba(48, 143, 173, 0.9) 100%
  );
}

.macbook-pro .text-wrapper-62 {
  position: absolute;
  width: 265px;
  top: 36px;
  left: 623px;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-24 {
  position: absolute;
  width: 1294px;
  height: 152px;
  top: 15953px;
  left: 108px;
}

.macbook-pro .slack-slack {
  position: absolute;
  width: 1294px;
  top: 19px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .group-3 {
  position: absolute;
  width: 967px;
  height: 93px;
  top: 4983px;
  left: 250px;
}

.macbook-pro .frame-11 {
  display: flex;
  width: 451px;
  height: 93px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 36px 145px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f88800;
  border-radius: 80px;
  box-shadow: 0px 4px 4px 5px #00000040;
  aspect-ratio: 4.85;
}

.macbook-pro .text-wrapper-63 {
  position: relative;
  width: fit-content;
  margin-top: -10.50px;
  margin-bottom: -8.50px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .frame-12 {
  display: flex;
  width: 451px;
  height: 93px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 36px 145px;
  position: absolute;
  top: 0;
  left: 516px;
  background-color: #f88800;
  border-radius: 80px;
  box-shadow: 0px 4px 4px 5px #00000040;
  aspect-ratio: 4.85;
}

.macbook-pro .text-wrapper-64 {
  position: relative;
  width: fit-content;
  margin-top: -10.50px;
  margin-bottom: -8.50px;
  margin-left: -75.69px;
  margin-right: -75.69px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.macbook-pro .group-4 {
  position: absolute;
  width: 967px;
  height: 93px;
  top: 8826px;
  left: 271px;
}

.macbook-pro .group-5 {
  position: absolute;
  width: 967px;
  height: 93px;
  top: 10640px;
  left: 276px;
}

.macbook-pro .overlap-25 {
  position: absolute;
  width: 1509px;
  height: 199px;
  top: 13826px;
  left: 1px;
}

.macbook-pro .OS-windows-macos {
  position: absolute;
  width: 399px;
  top: 0;
  left: 283px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  text-align: right;
  letter-spacing: 0;
  line-height: 55px;
}

.macbook-pro .google-chrome-google {
  position: absolute;
  width: 399px;
  top: 0;
  left: 839px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 55px;
}

.macbook-pro .text-wrapper-65 {
  position: absolute;
  width: 1509px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55px;
}

.macbook-pro .group-6 {
  position: absolute;
  width: 967px;
  height: 93px;
  top: 18581px;
  left: 274px;
}

.macbook-pro .overlap-26 {
  position: absolute;
  width: 1512px;
  height: 450px;
  top: 0;
  left: 0;
}

.macbook-pro .img-3 {
  position: absolute;
  width: 1511px;
  height: 377px;
  top: 0;
  left: 0;
}

.macbook-pro .vector-2 {
  position: absolute;
  width: 1394px;
  height: 351px;
  top: 0;
  left: 118px;
}

.macbook-pro .untitled {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 4px;
  left: 957px;
  aspect-ratio: 1;
  object-fit: cover;
}

.macbook-pro .rectangle-19 {
  position: absolute;
  width: 570px;
  height: 50px;
  top: 32px;
  left: 37px;
  background-color: #f7ff66;
}

.macbook-pro .rectangle-20 {
  position: absolute;
  width: 1024px;
  height: 50px;
  top: 95px;
  left: 37px;
  background-color: #f7ff66;
}

.macbook-pro .chatgpt-AI {
  position: absolute;
  width: 1121px;
  top: 25px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 62px;
}

.macbook-pro .text-wrapper-66 {
  position: absolute;
  width: 1325px;
  top: 200px;
  left: 51px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 72px;
}

.macbook-pro .image-5 {
  width: 600px;
  height: 66px;
  top: 384px;
  left: 477px;
  aspect-ratio: 9.14;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .navbar-wrapper {
  position: absolute;
  width: 1526px;
  height: 70px;
  top: 454px;
  left: 0;
}

.macbook-pro .navbar {
  position: relative;
  width: 1512px;
  height: 70px;
  background-color: #1e1e1ecc;
}

.macbook-pro .text-wrapper-67 {
  width: 183px;
  left: 52px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-68 {
  width: 261px;
  left: 284px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-69 {
  width: 146px;
  left: 587px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-70 {
  width: 102px;
  left: 778px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-71 {
  width: 103px;
  left: 933px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-72 {
  width: 182px;
  left: 1278px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-73 {
  width: 140px;
  left: 1088px;
  position: absolute;
  height: 40px;
  top: 15px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-wrapper {
  position: absolute;
  width: 1011px;
  height: 52px;
  top: 3660px;
  left: 265px;
}

.macbook-pro .overlap-27 {
  position: relative;
  width: 1009px;
  height: 52px;
}

.macbook-pro .rectangle-21 {
  position: absolute;
  width: 1009px;
  height: 27px;
  top: 22px;
  left: 0;
  background-color: #ffe99b;
}

.macbook-pro .text-wrapper-74 {
  position: absolute;
  width: 972px;
  top: 0;
  left: 23px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .overlap-28 {
  position: absolute;
  width: 1301px;
  height: 794px;
  top: 3788px;
  left: 114px;
}

.macbook-pro .group-7 {
  position: absolute;
  width: 677px;
  height: 310px;
  top: 179px;
  left: 1px;
}

.macbook-pro .text-wrapper-75 {
  position: absolute;
  width: 673px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .chatgpt-GPT {
  width: 673px;
  top: 100px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  line-height: 42px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .overlap-29 {
  position: absolute;
  width: 1301px;
  height: 794px;
  top: 0;
  left: 0;
}

.macbook-pro .group-8 {
  position: absolute;
  width: 1301px;
  height: 248px;
  top: 546px;
  left: 0;
}

.macbook-pro .text-wrapper-76 {
  position: absolute;
  width: 1297px;
  top: 100px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .AI-3 {
  width: 1122px;
  top: 0;
  left: 97px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  text-align: center;
  line-height: 42px;
  position: absolute;
  letter-spacing: 0;
}

.macbook-pro .image-6 {
  width: 594px;
  height: 469px;
  top: 144px;
  left: 702px;
  aspect-ratio: 1.27;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .group-9 {
  position: absolute;
  width: 1275px;
  height: 184px;
  top: 4684px;
  left: 114px;
}

.macbook-pro .text-wrapper-77 {
  position: absolute;
  width: 776px;
  top: 0;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 46px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-78 {
  position: absolute;
  width: 1271px;
  top: 100px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: 42px;
}

.macbook-pro .LAN-javascript {
  position: absolute;
  width: 1279px;
  top: 16181px;
  left: 101px;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 46px;
}

.macbook-pro .e-nikkei-on-nex {
  width: 1512px;
  height: 44px;
  top: 18980px;
  left: 0;
  font-family: "Noto Sans JP", Helvetica;
  font-weight: 500;
  color: #252424;
  font-size: 24px;
  text-align: center;
  line-height: 46px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}
